<div class="w-100 d-flex justify-content-center align-items-center">
  <div class="d-flex gap-2">
    <div class="p-2">{{currentOrderDisplayText}}</div>
    <div class="p-2">Pending Order ({{pendingOrderCount}})</div>
    <div class="p-2">Total Quantity {{totalQuantity}}</div>
    <div class="p-2">Total Amount :
      {{totalAmount|currency:"BGN":"symbol"}} |
      {{totalAmount|EurCurrencyConvertor|currency:"EUR":"symbol"}}

    </div>
  </div>
</div>
<div class="w-100  align-items-center">
  <div class="d-flex justify-content-start">
    <button  [routerLink]="'/start-order'" >New Order</button>
  </div>

  <div *ngIf="backPageInfo!=null" class="d-flex justify-content-start">
    <button  [routerLink]="backPageInfo.url" >Back to {{backPageInfo.displayName}}</button>
  </div>


  <div class="d-flex justify-content-end">
    <button >Go to Cart</button>
  </div>
</div>
