<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Category</title>
</head>
<body class="bg-light">

<!-- Full-page center -->
<div>
  <div class="w-100 d-flex justify-content-center align-items-center">
    <div class="d-flex gap-2">
      <div class="p-2">Pending Order</div>
    </div>
  </div>
</div>


<div class="min-vh-100 d-flex justify-content-center align-items-center">
  <button class="btn btn-lg w-50"  style="background-color: #DCDCDC;height: 100px;" (click)="startOrder()" >Start a new Order</button>
</div>
</body>
</html>
