
<!-- Full-page center -->
<div>
  <app-header-page [backPageInfo]="backPageInfo"></app-header-page>
  <div class="container">
    <div class="row">
      <div class="col-9 " style="cursor: pointer" >
        <div class="row g-2">
            <div class="col-2  ratio-1x1 bg-white border rounded hover-shadow me-1" (click)="addToCart(item)" *ngFor="let item of items">
              <div>
                {{ item.name }}
              </div>
              <div>{{ item.price|currency:"BGN":"symbol" }}</div>
              <div>{{ item.price|EurCurrencyConvertor|currency:"EUR":"symbol" }}</div>
            </div>
        </div>
      </div>
      <div class="col-3">
        <app-cart-page></app-cart-page>
      </div>
    </div>
  </div>

</div>
