/* You can add global styles to this file, and also import other style files */
.grey-bg-1{
  background: #eeeeee;
}

.grey-bg-2{
  background: #dddddd;
}

.grey-bg-3{
  background: #cccccc;
}

.grey-bg-4{
  background: #bbbbbb;
}

.grey-bg-5{
  background: #a3a3a3;
}

.grey-bg-6{
  background: #767676;
}

.grey-bg-7{
  background: #424242;
}
